.wrapper {
  display: flex;
  flex-direction: column;
}

.logo {
  display: block;
  width: 500rpx;
  height: 500rpx;
  margin: 100rpx auto;
}

.title {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

#bottom {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40rpx;
}

button[type="default"].btn-welcome {
  margin-top: 250rpx;
  background-color: #ff5678;
  color: white;
  width: 70%;
}

.info {
  text-align: center;
  margin-top: 20rpx;
  font-size: 27rpx;
}

.underline {
  text-decoration: underline;
}

.copyright {
  margin-top: 120rpx;
  margin-bottom: 40rpx;
}
