button[type="default"] {
  position: relative;
  bottom: 0;
  margin: 100rpx 0;
  background-color: #ff5678;
  color: white;
  width: 70%;
}

text {
  margin-right: 30rpx;
}

.container {
  margin: 70rpx;
  font-size: large;
  .selector-body {
    margin: 60rpx 0;
    .common-selector {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      .mail-boolen {
        margin-left: auto;
      }
    }
  }
  .input-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    // align-content: center;
    // align-self: center;
    margin: 60rpx 0;
    .uncommon-text {
      // margin-bottom: 8rpx;
      display: table-cell;
      vertical-align: middle;
      // text-align: center;
      // display: inline-block;
      // height: 100%;
      height: 48rpx;
    }
    // .input {
    //   width: 70%;
    // }
    .textarea {
      // display: inline-flex;
      width: 70%;
      height: 48rpx;
      margin-left: 40rpx;
      padding-top: 7rpx;
    }
  }
}

.pageTitle {
  font-size: 50rpx;
  font-weight: bold;
  display: block;
}

.pageInfo {
  font-size: 28rpx;
  color: rgb(138, 138, 138);
}

.picker {
  display: flex;
  width: 100%;
}

.picker-label {
  margin-left: 40rpx;
}

.arrow {
  right: 0;
  justify-content: flex-end;
  margin-left: auto;
  height: 50rpx;
  width: 50rpx;
}

.radio-list-label {
  margin-right: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.total-price {
  color: rgb(138, 138, 138);
}

#price-text-right-align {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.price-text-row {
  font-size: medium;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#total-price-text {
  font-size: x-large;
  color: #ff5678;
}

.price-detail-title {
  font-size: large;
  color: #000;
}

.total-price-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.price-detail-margin {
  margin: 20rpx 0;
}
