button[type="default"] {
  margin-top: 250rpx;
  background-color: #ff5678;
  color: white;
  width: 70%;
}

text {
  margin-right: 30rpx;
}

.container {
  margin: 70rpx;
  font-size: large;
  .input-body {
    flex-direction: column;
    justify-content: space-around;
    margin: 70rpx 0;
    input {
      margin: 10rpx 10rpx 10rpx 40rpx;
      height: 20rpx;
      display: inline-flex;
      // border-style: solid;
      // border-width: 2rpx;
      // border-height: 30rpx;
      // border-radius: 5rpx;
    }
  }
}

.pageTitle {
  font-size: 50rpx;
  font-weight: bold;
  display: block;
}

.pageInfo {
  font-size: 28rpx;
  color: rgb(138, 138, 138);
}

.picker {
  display: flex;
  width: 100%;
}

.picker-label {
  margin-left: 40rpx;
  color:rgb(138, 138, 138);
}

.arrow {
  right: 0;
  margin-left: auto;
  height:50rpx;width:50rpx;
}
.radio-list__label{
  margin-right: 1rem;
}